name: CI Common - Frontend

on:
  workflow_call:
    inputs:
      path:
        description: "Path to the project (e.g., .)"
        required: false
        type: string
        default: "."
      node-version:
        description: "Node.js version"
        required: false
        type: string
        default: "22"

jobs:
  lint-test-build:
    name: Lint, Test & Build
    runs-on: ubuntu-latest
    timeout-minutes: 15
    defaults:
      run:
        working-directory: ${{ inputs.path }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Setup Node
        uses: actions/setup-node@v6
        with:
          node-version: ${{ inputs.node-version }}
          cache: "npm"
          cache-dependency-path: ${{ format('{0}/package-lock.json', inputs.path) }}

      - name: Install dependencies
        run: npm ci

      - name: Run Lint
        run: npm run lint

      # - name: Run Tests with Coverage
      #   run: npm test -- --coverage --passWithNoTests
      #   env:
      #     CI: true

      # # 6. Upload Coverage
      # - name: Upload Coverage Reports
      #   uses: actions/upload-artifact@v4
      #   with:
      #     name: coverage-report
      #     path: ${{ inputs.path }}/coverage
      #     retention-days: 30

      # 7. Build
      - name: Build
        run: npm run build

      - name: Upload Build Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: dist
          path: ${{ inputs.path }}/dist
          retention-days: 7

  # sonarqube:
  #   name: SonarQube
  #   runs-on: ubuntu-latest
  #   steps:
  #     - uses: actions/checkout@v4
  #       with:
  #         fetch-depth: 0
  #     - name: SonarQube Scan
  #       uses: SonarSource/sonarqube-scan-action@v6
  #       env:
  #         SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}