name: PR Module Tests

on:
  pull_request:
    branches: [develop]
    paths:
      - "frontend/src/**"
      - "frontend/.github/workflows/pr-modules-tests.yml"
      - "frontend/.github/workflows/ci-common.yml"

permissions:
  contents: read
  pull-requests: write
  checks: write

concurrency:
  group: pr-tests-${{ github.event.pull_request.number }}
  cancel-in-progress: true

jobs:
  test-modules:
    name: Lint, Test & Build
    uses: ./.github/workflows/ci-common.yml
    with:
      path: ./frontend
      node-version: "22"
    secrets: inherit
